<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
Login page
<form action="/" method="post">
    <div><label> User nickname : <input type="text" name="name"/> </label></div>
    <div><input type="submit" value="В чат"/></div>
</form>
</body>
</html>